<mat-grid-list cols="1" rowHeight="2:1">
    <mat-grid-tile>
        <button mat-stroked-button color="primary" (click)="playNote('C2')">C2</button>
        <button mat-stroked-button color="primary" (click)="playNote('C#2')">C#2</button>
        <button mat-stroked-button color="primary" (click)="playNote('D2')">D2</button>
        <button mat-stroked-button color="primary" (click)="playNote('D#2')">D#2</button>
        <button mat-stroked-button color="primary" (click)="playNote('E2')">E2</button>
        <button mat-stroked-button color="primary" (click)="playNote('F2')">F2</button>
        <button mat-stroked-button color="primary" (click)="playNote('F#2')">F#2</button>
        <button mat-stroked-button color="primary" (click)="playNote('G2')">G2</button>
        <button mat-stroked-button color="primary" (click)="playNote('G#2')">G#2</button>
        <button mat-stroked-button color="primary" (click)="playNote('A2')">A2</button>
        <button mat-stroked-button color="primary" (click)="playNote('A#2')">A#2</button>
        <button mat-stroked-button color="primary" (click)="playNote('B2')">B2</button>
        <button mat-stroked-button color="primary" (click)="playNote('C3')">C3</button>
        <button mat-stroked-button color="primary" (click)="playNote('C#3')">C#3</button>
        <button mat-stroked-button color="primary" (click)="playNote('D3')">D3</button>
        <button mat-stroked-button color="primary" (click)="playNote('D#3')">D#3</button>
        <button mat-stroked-button color="primary" (click)="playNote('E3')">E3</button>
        <button mat-stroked-button color="primary" (click)="playNote('F3')">F3</button>
    </mat-grid-tile>
</mat-grid-list>